.galleryBlob {
  position: relative;
  left: -60px;
  /* top: 180px; */
  z-index: 4;
}
.galleryBG {
  padding: 60px 0;
  display: flex;
  background-image: url('../../../images/gallery-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .galleryBG {
    padding: 0;
  }
}
